<ng-container *ngIf="currentState$ | async; else likeTemplate">
  <div>
    <button class="button" [hidden]="isSubmitting" (click)="unlike()">
      <span class="followed-text">Unlike</span>
    </button>
  </div>
</ng-container>

<ng-template #likeTemplate>
  <div>
    <button class="button" [hidden]="isSubmitting" (click)="like()">
      <span class="followed-text">Like</span>
    </button>
  </div>
</ng-template>

<!-- <div *ngIf="isSubmitting">
  <span>Loading...</span>
</div> -->

<app-loading [isSubmitting]="isSubmitting"></app-loading>
